<main>
    <form id="formMail">
       {{!--  <div class="correo"> --}}
            <label for="emailforPassword">Introduce tu email</label>
            <input type="email" name="emailforPassword" id="emailInput">
       {{!--  </div> --}}
        <button>Enviar Correo</button>
    </form>
</main>
<script  type="module" src="/js/sendMailforPassword.js"></script>