<section class="register">
    <form class="formL">
     <div class="inputRegister">
        <label for="email">Email</label>
        <input type="email" name="email" id="nameEmailL">
    </div>
     <div class="inputRegister">
        <label for="password">Password</label>
        <input type="password" name="password" id="namePasswordL">
    </div>
    <button class="enviar">Registar</button>
    </form>
    <a href="/auth/github">Logearte con Github</a>
    <a href="/auth/google">Loguearte con Google</a>
</section>
<script src="/js/login.js"></script>