<section class="register">
    <form id="inputR">
    <div class="inputRegister">
        <label for="firts_name">Nombre:</label>
        <input type="text" name="firts_name" id="nameNombre">
    </div>
     <div class="inputRegister">
        <label for="last_name">Apellido:</label>
        <input type="text" name="last_name" id="nameApellido">
    </div>
     <div class="inputRegister">
        <label for="email">Email:</label>
        <input type="email" name="email" id="nameEmail">
    </div>
     <div class="inputRegister">
        <label for="password">Password:</label>
        <input type="password" name="password" id="namePassword">
    </div>
    <button class="enviarF">Registrarse</button>
    </form>
</section>
<script src="/js/register.js"></script>