<main>
    <form>
         <div class="contInput">
            <label for="email" class="infoLabel">Email</label>
            <input type="text" placeholder="Introduce tu nueva contraseña" name="email">
        </div>
        <div class="contInput">
            <label for="newPassword" class="infoLabel">Nueva contraseña:</label>
            <input type="text" placeholder="Introduce tu nueva contraseña" name="newPassword">
        </div>
        <div class="contInput">
            <label for="repeatPassword" class="infoLabel">Repetir contraseña:</label>
            <input type="password" name="repeatPassword">
        </div>
        <div class="sendRes">
            <button>Restaurar Contraseña</button>
        </div>
    </form>
</main>

<script src="/js/restablecerContra.js" type="module"></script>